Repository zighang-zighang/zighang-zighang-backend, pull requests merged in 2025-09, with the labels that each got.

#21 [0.4.0] (ZH-114) 북마크 CRUD
  build.gradle.kts
  src/main/java/com/github/zighang_zighang/domain/bookmark/api/BookmarkApi.java
  src/main/java/com/github/zighang_zighang/domain/bookmark/controller/BookmarkController.java
  src/main/java/com/github/zighang_zighang/domain/bookmark/entity/Bookmark.java
  src/main/java/com/github/zighang_zighang/domain/bookmark/exceptions/BookmarkExceptions.java
  src/main/java/com/github/zighang_zighang/domain/bookmark/repository/BookmarkRepository.java
  src/main/java/com/github/zighang_zighang/domain/bookmark/service/BookmarkService.java
  src/main/java/com/github/zighang_zighang/domain/recruitment/exception/RecruitmentExceptions.java
  src/main/java/com/github/zighang_zighang/domain/recruitment/service/RecruitmentService.java
  src/main/java/com/github/zighang_zighang/domain/recruitment/util/aspect/RecruitmentExist.java
  src/main/java/com/github/zighang_zighang/domain/recruitment/util/aspect/RecruitmentExistAspect.java
  src/main/java/com/github/zighang_zighang/domain/user/entity/UserProvider.java
  src/main/java/com/github/zighang_zighang/global/config/BeanConfig.java
Labels: area/api, priority/low, type: feature

#17 [0.1.0] (ZH-16) Security Chain 구성
  .env.template
  .gitignore
  build.gradle.kts
  src/main/java/com/github/zighang_zighang/domain/user/controller/UserController.java
  src/main/java/com/github/zighang_zighang/domain/user/repository/UserProviderRepository.java
  src/main/java/com/github/zighang_zighang/domain/user/repository/UserRepository.java
  src/main/java/com/github/zighang_zighang/domain/user/service/UserService.java
  src/main/java/com/github/zighang_zighang/global/auth/constant/OAuth2AttributeKeys.java
  src/main/java/com/github/zighang_zighang/global/auth/controller/AuthController.java
  src/main/java/com/github/zighang_zighang/global/auth/dto/LoginResponse.java
  src/main/java/com/github/zighang_zighang/global/auth/dto/OAuth2UserInfo.java
  src/main/java/com/github/zighang_zighang/global/auth/dto/TokenRefreshResponse.java
  src/main/java/com/github/zighang_zighang/global/auth/exception/AuthExceptionCode.java
  src/main/java/com/github/zighang_zighang/global/auth/filter/JwtAuthenticationFilter.java
  src/main/java/com/github/zighang_zighang/global/auth/handler/OAuth2AuthenticationFailureHandler.java
  src/main/java/com/github/zighang_zighang/global/auth/handler/OAuth2AuthenticationSuccessHandler.java
  src/main/java/com/github/zighang_zighang/global/auth/repository/RefreshTokenRedisRepository.java
  src/main/java/com/github/zighang_zighang/global/auth/schema/RefreshToken.java
  src/main/java/com/github/zighang_zighang/global/auth/service/AuthService.java
  src/main/java/com/github/zighang_zighang/global/auth/service/CustomOAuth2UserService.java
  src/main/java/com/github/zighang_zighang/global/auth/service/CustomUserDetailsService.java
  src/main/java/com/github/zighang_zighang/global/auth/service/TokenStorageService.java
  src/main/java/com/github/zighang_zighang/global/auth/util/JwtUtil.java
  src/main/java/com/github/zighang_zighang/global/config/JwtConfig.java
  src/main/java/com/github/zighang_zighang/global/config/RedisConfig.java
  src/main/java/com/github/zighang_zighang/global/config/SecurityConfig.java
  src/main/java/com/github/zighang_zighang/global/exception/ApiException.java
  src/main/java/com/github/zighang_zighang/global/exception/ApiExceptionHandler.java
  src/main/resources/application-default.yaml
  src/main/resources/application.yaml
Labels: area/authentication, priority/high, type: feature

#33 [0.8.0] (ZH-153) 자기소개서 임베딩
  build.gradle.kts
  src/main/java/com/github/zighang_zighang/domain/resume/__embedding/entity/ResumeEmbedding.java
  src/main/java/com/github/zighang_zighang/domain/resume/__embedding/repository/ResumeEmbeddingRepository.java
  src/main/java/com/github/zighang_zighang/domain/resume/service/ResumeService.java
  src/main/java/com/github/zighang_zighang/global/infra/opensearch/exception/OpenSearchException.java
  src/main/java/com/github/zighang_zighang/global/infra/opensearch/service/OpenSearchService.java
Labels: area/api, priority/high, type: feature
